.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    border-bottom: 1px solid darken($light-blue, 10%);
    color: $off-white;
    margin: $l-size;
    padding: 0;
    text-align: center;
}

.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title { 
    margin: 0;
}