


$off-black: white;
$off-white:	dodgerblue;
$blue: #383838;
$light-blue: #3c4251;
$green:	#F0F0F0;
$brown:	limegreen;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;